.nav-sidebar {
  display: flex; /* Hide sidebar by default */
  align-items: center;
  position: relative;
  background-color: #ffffff;
  z-index: 1000;
  overflow-y: auto;
  padding: 20px 20px;
}
.menu {
  display: flex;
}
.mobile-nav-content {
  display: none;
}

.menu-item {
  color: #0069c4;
  text-decoration: none;
  margin-bottom: 15px;
  display: block;
}

.menu-item:last-child {
  margin-bottom: 0;
  margin-left: 50px;
}

.menu-item:hover {
  color: #004080;
}

.menu-item.active {
  font-weight: bold;
}

.toggle-nav-button {
  display: none;
}

.map-legend {
  display: none;
}

@media (max-width: 768px) {
  .toggle-nav-button {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1100;
  }

  .mobile-nav-content {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .navbar {
    justify-content: flex-start;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-item {
    margin-bottom: 0;
  }

  .menu-item:last-child {
    margin-top: 10px;
    margin-left: 0px;
  }

  .nav-sidebar {
    display: block; /* Show sidebar on small screens */
    position: fixed;
    left: -100%;
    height: 80vh;
    padding-top: 60px; /* Initially off-screen */
    transition: left 0.4s ease; /* Add transition for smooth animation */
    z-index: 999;
    width: 65%; /* Adjust width as needed */
    background-color: rgba(240, 240, 240, 0.75);
  }

  .nav-sidebar.show {
    left: 0; /* Slide in sidebar when toggled */
  }

  .map-legend {
    display: block;
  }

  .legend-container {
    display: flex;
    flex-direction: column;
    padding: 4px;
    color: white;
    border-radius: 4px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 10;
  }
}


  
